@model HaemophilusWeb.Models.Sender

@{
    ViewBag.Title = "Neuen Einsender erfassen";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Sender</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Zurück zur Liste der Einsender", "Index")
</div>


