@model HaemophilusWeb.Models.Sender

@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "pure-form pure-form-aligned"}))
{
    @Html.ValidationSummary(true)

    @Html.Partial("_CreateOrEdit", Model)

    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Zurück zur Liste der Einsender", "Index")
</div>