<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Beta" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Add your personal Geoname.org account here as demo account is rate limited -->
    <add key="geonamesAccount" value="demo"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
