<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Show beta popup if set to true -->
    <add key="Beta" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!-- Semicolon separated list of names for the report siging dropdown -->
    <add key="reportSigners" value="Dr. Jane Doe;Dr. John Doe" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Add your personal Geoname.org account here as demo account is rate limited -->
    <add key="GeonamesAccount" value="demo"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Secret token to access the registration page -->
    <add key="RegistrationToken" value="LetMeIn"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
