@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Prototyp für eine Webanwendung zur Verwaltung von Haemophilus Influenzae Isolaten.
    </p>
</article>

<aside>
    <h3>Weitere Links</h3>
    <p>
        Weiterführende Informationen zu Haemophilus Influenzae
    </p>
    <ul>
        <li>
            <a href="http://www.haemophilus.uni-wuerzburg.de/">Konsiliarlabor</a>
        </li>
        <li>
            <a href="http://de.wikipedia.org/wiki/Haemophilus_influenzae_b-Infektion">Wikipedia</a>
        </li>
    </ul>
</aside>