@using HaemophilusWeb.Models
@using HaemophilusWeb.Utils
@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.Models.Change

@{
    ViewBag.Subtitle = "Änderung vom " + Model.Date.ToReportFormat();
}
<p>
    <h2>
        @if (Model.Type == ChangeType.Bug)
        {
            <span class="label label-danger">Fehlerbehebung</span>
        }
        else if (Model.Type == ChangeType.Feature)
        {
            <span class="label label-info">Neue Funktion</span>
        }
        else if (Model.Type == ChangeType.Design)
        {
            <span class="label label-success">Design</span>
        }
        <span class="label label-primary">@EnumEditor.GetEnumDescription(Model.Database)</span>
    </h2>
</p>
<p>
    @Html.Raw(Model.Details.Replace("~/", Url.Content("~/")))
</p>