@{
    ViewBag.Title = "Haemophilus Web";
    ViewBag.Subtitle = "Webanwendung zur Verwaltung von Haemophilus Influenzae Isolaten";
}

<div class="row">
    <div class="col-md-4">
        <h3>Einsender</h3>
        <p>
            Suchen, anlegen und bearbeiten von Einsendern.
        </p>
        <p>
            @Html.ActionLink("Alle Einsender anzeigen", "Index", "Sender", null, new { @class = "btn btn-default" })
        </p>
        <p>
            @Html.ActionLink("Neuen Einsender anlegen", "Create", "Sender", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>