@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Haemophilus Web</h1>
    <p class="lead">Webanwendung zur Verwaltung von Haemophilus Influenzae Isolaten.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Einsender</h2>
        <p>
            Suchen, anlegen und bearbeiten von Einsendern.
        </p>
        <p>
            @Html.ActionLink("Alle Einsender anzeigen", "Index", "Sender", null, new { @class = "btn btn-default" })
        </p>
        <p>
            @Html.ActionLink("Neuen Einsender anlegen", "Create", "Sender", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>