@model HaemophilusWeb.Models.Isolate

@{
    ViewBag.Title = "Neues Isolat anlegen";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "pure-form pure-form-aligned"}))
{
    @Html.ValidationSummary(true)

    @Html.Partial("_CreateOrEdit", Model)

    <p>
        <button type="submit" class="pure-button">Speichern</button>
    </p>
}

<div>
    @Html.ActionLink("Zurück zur Liste der Isolate", "Index")
</div>