body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { /*  max-width: 280px;*/ }

/* styles for validation helpers */

.field-validation-error { color: #b94a48; }

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }

.validation-summary-valid { display: none; }

/* Bootstrap customization*/

.navbar-inverse .navbar-brand {
    background-image: url('../Images/logo4.png');
    background-position: 8px 9px;
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 48px;
}

.navbar-inverse {
    background-color: #1b5da9;
    border-color: #174370;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #174370; }

.navbar-inverse .navbar-nav > li > a { color: #999999; }

.navbar-inverse .navbar-nav > li > a { 
	color:#caddf8;
}
	
.navbar-inverse .navbar-nav > li > a:visited { 
	color:#caddf8;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #174370;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #174370;
}
	
.navbar-inverse .navbar-nav > li > a:active, 
.navbar-inverse .navbar-nav > li > a.active,
.navbar-inverse .navbar-nav > li > a:hover  { 
	color: #fff;
	text-decoration: underline;
    background-color: #174370;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #174370;
}

h1,
.h1 {
  font-size: 26px;
}

h2,
.h2 {
  font-size: 22px;
}

h3,
.h3 {
  font-size: 18px;
}

h4,
.h4 {
  font-size: 14px;
}

h5,
.h5 {
  font-size: 12px;
}

h6,
.h6 {
  font-size: 12px;
}

.label-etest-Resistant {
  background-color: #d9534f;
}

.label-etest-Susceptible {
  background-color: #5cb85c;
}

.label-etest-Intermediate {
  background-color: #f0ad4e;
}