<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
        @Html.ActionLink("Zurück zur Liste", "Index", (string)ViewBag.Controller, null, new { @class = "btn btn-default" })
    </div>
</div>