<script src="~/Scripts/jeoQuery.js"></script>

<script>
    
    $(document).ready(function ()
    {
        RegisterPostalCodeAutocompletion();

        RegisterPostalCodeDetailsLookup();
    });
    
    function RegisterPostalCodeDetailsLookup()
    {
        $("[id$='PostalCode']").jeoPostalCodeLookup({
            country: "DE",
            lengthTrigger: 5,
            callback: function (data) {
                PopulateCityInput(data.placeName);
                PopulateCountyInput(data.adminName3);
                PopulateStateComboBox(data.adminCode1);
            },
            noDataCallback: function () {
                PopulateCityInput("Unbekannt");
                PopulateCountyInput("Unbekannt");
                PopulateStateComboBox("Unknown");
            }
        });
    }
    
    function RegisterPostalCodeAutocompletion()
    {
        $("[id$='PostalCode']").on("input", function (e) {
            var val = $(this).val();
            if (val === "") return;
            
            if (val.length != 5)
            {
                PopulateCityInput("");
                PopulateCountyInput("");
                PopulateStateComboBox("Unknown");
            }

            $.getJSON(
                "http://api.geonames.org/postalCodeSearchJSON?callback=?",
                { postalcode_startsWith: val, country: "DE", username: "hweb" }
            ).done(FillPostalCodeDataList);
        });
    }

    var knownPostalCodes = new Array();

    function FillPostalCodeDataList (data)
    {
        if (data.postalCodes.length == 0)
        {
            return;
        }

        var dataList = $("#postalCodeSearchresults");
        for (var i = 0, len = data.postalCodes.length; i < len; i++)
        {
            var result = data.postalCodes[i];
            var postalCode = result.postalCode;
            if (jQuery.inArray(postalCode, knownPostalCodes) != -1)
            {
                continue;
            }
            dataList.append("<option value='" + postalCode + "'>" + result.postalCode + " " + result.placeName + "</option>");
            knownPostalCodes.push(postalCode);
        }
        $("[id$='PostalCode']").val($("[id$='PostalCode']").val());
    }

    function PopulateCityInput(value)
    {
        if ($("[id$='City']").length > 0)
        {
            $("[id$='City']").val(value);
        }
    }
    
    function PopulateCountyInput(value)
    {
        if ($("[id$='County']").length > 0)
        {
            $("[id$='County']").val(value);
        }
    }
    
    function PopulateStateComboBox(value)
    {
        if ($("[id$='State']").length > 0)
        {
            $('[id$="State"] option[value="'+ value + '"]').prop('selected', true);
        }
    }
</script>
